// Colors
$color-white: #fff !default;
$color-black: #000 !default;

$color-primary: #409EFF !default;

$color-success: #67c23a !default;
$color-warning: #e6a23c !default;
$color-danger: #f56c6c !default;
$color-info: #909399 !default;

$color-text-primary: #303133 !default;
$color-text-regular: #606266 !default;
$color-text-secondary: #909399 !default;
$color-text-placeholder: #c0c4cc !default;

$theme-color-interval: 8% !default;

$theme-colors: (
  success: $color-success,
  warning: $color-warning,
  error  : $color-danger,
  info   : $color-info
);

// Background
$background-color-base: #f5f7fa !default;

// Border
$border-radius: 4px !default;
$border-width-base: 1px !default;
$border-style-base: solid !default;
$border-color-base: #dcdfe6 !default;
$border-color-light: #e4e7ed !default;
$border-color-lighter: #ebeef5 !default;
$border-color-extra-light: #f2f6fc !default;
$border-base: $border-width-base $border-style-base $border-color-base !default;

$border-radius-base: 4px !default;
$border-radius-small: 2px !default;
$border-radius-circle: 100% !default;

// z-index
$z-index-normal: 1 !default;
$z-index-top: 1000 !default;
$z-index-popper: 2000 !default;

//* Disable base
$disabled-fill-base: $background-color-base !default;
$disabled-color-base: $color-text-placeholder !default;
$disabled-border-base: $border-color-light !default;

// Button
$button-hover-color-level: -2 !default;
$button-active-color-level: 1 !default;

$button-default-color: $color-text-regular !default;
$button-default-bg: $color-white !default;
$button-font-weight: 500 !default;

$button-padding-vertical: 12px !default;
$button-padding-horizontal: 20px !default;
$button-font-size: 14px !default;
$button-border-radius: $border-radius-base !default;

$button-primary-color: $color-white !default;
$button-primary-bg: $color-primary !default;
$button-primary-border: $color-primary !default;

$button-success-color: $color-white !default;
$button-success-bg: $color-success !default;
$button-success-border: $color-success !default;

$button-warning-color: $color-white !default;
$button-warning-bg: $color-warning !default;
$button-warning-border: $color-warning !default;

$button-danger-color: $color-white !default;
$button-danger-bg: $color-danger !default;
$button-danger-border: $color-danger !default;

$button-info-color: $color-white !default;
$button-info-bg: $color-info !default;
$button-info-border: $color-info !default;

$button-disabled-color: $color-text-placeholder !default;
$button-disabled-border: #ebeef5 !default;
$button-disabled-fill: $color-white !default;

$button-medium-padding-vertical: 10px !default;
$button-medium-padding-horizontal: 20px !default;
$button-medium-font-size: 14px !default;
$button-medium-border-radius: $border-radius-base !default;

$button-small-padding-vertical: 9px !default;
$button-small-padding-horizontal: 15px !default;
$button-small-font-size: 12px !default;
$button-small-border-radius: #{$border-radius-base - 1} !default;

$button-mini-padding-vertical: 7px !default;
$button-mini-padding-horizontal: 15px !default;
$button-mini-font-size: 12px !default;
$button-mini-border-radius: #{$border-radius-base - 1} !default;

// Font
$font-path: 'fonts' !default;
$font-size-base: 14px !default;
$font-size-small: 13px !default;
$font-size-large: 18px !default;
$font-primary-weight: 500 !default;

// Alert
$alert-padding: 8px 16px !default;
$alert-content-padding: 0 8px !default;
$alert-border-radius: $border-radius !default;
$alert-bg-level: -11.25 !default;
$alert-font-size: 13px !default;
$alert-close-customed-font-size: 13px !default;

$alert-icon-size: 16px !default;
$alert-icon-large-size: 28px !default;

$alert-description-font-size: 12px !default;
$alert-description-margin: 5px 0 0 !default;

// Header
$header-padding: 0 20px !default;

// Footer
$footer-padding: 0 20px !default;

// Main
$main-padding: 20px !default;

// Breakpoints
$sm: 768px !default;
$md: 992px !default;
$lg: 1200px !default;
$xl: 1920px !default;

$breakpoints: (
  'xs': (max-width: $sm),
  'sm': (min-width: $sm),
  'md': (min-width: $md),
  'lg': (min-width: $lg),
  'xl': (min-width: $xl)
);

// Transition
$all-transition: all .3s cubic-bezier(.645, .045, .355, 1) !default;
$fade-transition: all .3s cubic-bezier(.55, 0, .1, 1) !default;
$fade-linear-transition: opacity 200ms linear !default;

// Radio
$radio-color: $color-text-regular !default;
$radio-font-weight: $font-primary-weight !default;
$radio-font-size: $font-size-base;
$radio-input-width: 14px !default;
$radio-input-height: 14px !default;
$radio-input-fill: $color-white !default;
$radio-input-border-color-hover: $color-primary !default;
$radio-font-size: $font-size-base !default;
$radio-input-border-color-checked: $color-primary !default;
$radio-input-fill-checked: $color-primary !default;
$radio-checked-text-color: $color-primary !default;

$radio-disabled-input-fill: $background-color-base !default;
$radio-disabled-input-border-color: $border-color-light !default;
$radio-disabled-checked-color: $color-text-placeholder !default;
$radio-disabled-label-color: $color-text-placeholder !default;

$radio-bordered-padding: 12px 20px 0 10px !default;
$radio-bordered-height: 40px !default;

$radio-bordered-medium-padding: 10px 20px 0 10px !default;
$radio-bordered-small-padding: 8px 15px 0 10px !default;
$radio-bordered-mini-padding: 6px 15px 0 10px !default;
$radio-bordered-medium-height: 36px !default;
$radio-bordered-small-height: 32px !default;
$radio-bordered-mini-height: 28px !default;
$radio-bordered-medium-input-width: 14px !default;
$radio-bordered-small-input-width: 12px !default;
$radio-bordered-mini-input-width: 12px !default;
$radio-bordered-medium-input-height: 14px !default;
$radio-bordered-small-input-height: 12px !default;
$radio-bordered-mini-input-height: 12px !default;

// RadioButton
$radio-button-checked-border-color: $color-primary !default;
$radio-button-checked-color: $color-white !default;
$radio-button-checked-fill: $color-primary !default;
$radio-button-disabled-checked-fill: $border-color-extra-light !default;

// CheckBox
$checkbox-color: $color-text-regular !default;
$checkbox-input-width: 14px !default;
$checkbox-input-height: 14px !default;
$checkbox-input-border: $border-base !default;
$checkbox-input-border-radius: $border-radius-small !default;
$checkbox-input-fill: $color-white !default;

$checkbox-input-border-color-hover: $color-primary !default;

$checkbox-checked-input-fill: $color-primary !default;
$checkbox-checked-input-border-color: $color-primary !default;
$checkbox-checked-icon-color: $color-white !default;

$checkbox-disabled-input-fill: #edf2fc !default;
$checkbox-disabled-input-border: $border-color-base !default;
$checkbox-disabled-icon-color: $color-text-placeholder !default;

$checkbox-font-weight: $font-primary-weight !default;

$checkbox-button-font-size: $font-size-base !default;
$checkbox-button-checked-color: $color-white !default;
$checkbox-button-checked-fill: $color-primary !default;
$checkbox-button-checked-border-color: $color-primary !default;