// Colors
$color-white: #fff !default;
$color-black: #000 !default;

$color-primary: #409EFF !default;

$color-success: #67c23a !default;
$color-warning: #e6a23c !default;
$color-danger: #f56c6c !default;
$color-info: #909399 !default;

$color-text-primary: #303133 !default;
$color-text-regular: #606266 !default;
$color-text-secondary: #909399 !default;
$color-text-placeholder: #c0c4cc !default;

$theme-color-interval: 8% !default;

$theme-colors: (
  success: $color-success,
  warning: $color-warning,
  error  : $color-danger,
  info   : $color-info
);

// Border
$border-radius: 4px !default;

// Font
$font-path: 'fonts' !default;
$font-size-base: 14px !default;
$font-size-small: 13px !default;
$font-size-large: 18px !default;

// Alert
$alert-padding: 8px 16px !default;
$alert-content-padding: 0 8px !default;
$alert-border-radius: $border-radius !default;
$alert-bg-level: -11.25 !default;
$alert-font-size: 13px !default;
$alert-close-customed-font-size: 13px !default;

$alert-icon-size: 16px !default;
$alert-icon-large-size: 28px !default;

$alert-description-font-size: 12px !default;
$alert-description-margin: 5px 0 0 !default;

// Header
$header-padding: 0 20px !default;

// Footer
$footer-padding: 0 20px !default;

// Main
$main-padding: 20px !default;

// Border
$border-width-base: 1px !default;
$border-style-base: solid !default;
$border-color-base: #dcdfe6 !default;
$border-base: $border-width-base $border-style-base $border-color-base !default;

$border-radius-base: 4px !default;
$border-radius-small: 2px !default;
$border-radius-circle: 100% !default;

// Button
$button-hover-color-level: -2 !default;
$button-active-color-level: 1 !default;

$button-default-color: $color-text-regular !default;
$button-default-bg: $color-white !default;
$button-font-weight: 500 !default;

$button-padding-vertical: 12px !default;
$button-padding-horizontal: 20px !default;
$button-font-size: 14px !default;
$button-border-radius: $border-radius-base !default;

$button-primary-color: $color-white !default;
$button-primary-bg: $color-primary !default;
$button-primary-border: $color-primary !default;

$button-success-color: $color-white !default;
$button-success-bg: $color-success !default;
$button-success-border: $color-success !default;

$button-warning-color: $color-white !default;
$button-warning-bg: $color-warning !default;
$button-warning-border: $color-warning !default;

$button-danger-color: $color-white !default;
$button-danger-bg: $color-danger !default;
$button-danger-border: $color-danger !default;

$button-info-color: $color-white !default;
$button-info-bg: $color-info !default;
$button-info-border: $color-info !default;

// Breakpoints
$sm: 768px !default;
$md: 992px !default;
$lg: 1200px !default;
$xl: 1920px !default;

$breakpoints: (
  'xs': (max-width: $sm),
  'sm': (min-width: $sm),
  'md': (min-width: $md),
  'lg': (min-width: $lg),
  'xl': (min-width: $xl)
)